body {
    background: #fdfcf9 no-repeat fixed top left;
    font-family:'Open Sans', sans-serif;
}

h3 {
    text-align: center;
}

p {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}

table, th, td {
/* border: 1px solid black; */
padding: 5px;
}

.container {
    max-width: 1000px;
}

.section {
    padding-top: 30px;
  }

.titlecontainer {
    max-width: 2000px;
}

.bibtexsection {
    font-family: "Courier", monospace;
    font-size:16px;
    white-space:pre;
    background-color: #f4f4f4;
    text-align:left;
}

footer {
    padding: 10px 0;
}

.box {
    /* float: left; */
    height: 15px;
    width: 15px;
    margin-bottom: -2px;
    border: 1px solid black;
    clear: both;
}
  
.red {
    background-color: red;
}
  
.green {
    background-color: green;
}
  
.blue {
    background-color: blue;
}
  
.btn-myown {
    color: #fff;
    background-color: #000000;
    /* border-color: #357ebd; // set the color you want here */
}
.btn-myown:hover, .btn-myown:focus, .btn-myown:active, .btn-myown.active, .open>.dropdown-toggle.btn-myown {
    color: #000;
    background-color:#C0C0C0;
    /* border-color: #285e8e; // set the color you want here */
}

.play-pause {
    height: 1.3ex;
}